{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>50/50</title>
        <link href = "{% static 'IMG/icon.png' %}" rel="icon" type="image/gif">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href = "{% static 'CSS/styles.css' %}" rel = "stylesheet" type = "text/css" >
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body style="overflow: hidden;">
        <div style="text-align: center; padding-top: 35vh; font-size: 10vh;">
            <h1>Your Options:</h1>
            <h4>{% for r in restaurants %}</h4>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>